.accounts_view_container {
    -fx-background-color: #EEEEEE;
}

.accounts_view_container Text {
    -fx-fill: #000000;
    -fx-font-size: 1.4em;
    -fx-font-weight: bold;
    -fx-font-family: "Calibri Light";
}

.accounts_view_container VBox {
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #888888;
    -fx-padding: 10;
    -fx-spacing: 15;
}

.accounts_view_container VBox Text {
    -fx-fill: #888888;
    -fx-font-size: 1.2em;
    -fx-font-weight: normal;
}

.accounts_view_container VBox Label {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.accounts_view_container TextField {
    -fx-pref-width: 330;
    -fx-pref-height: 30;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}

.accounts_view_container Button {
    -fx-pref-width: 330;
    -fx-pref-height: 40;
    -fx-background-color: linear-gradient(to right, #132A13, #253F25);
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
    -fx-font-family: "Calibri Light";
}

.accounts_view_container Button:hover {
    -fx-cursor: hand;
}





